In [1]:
7/4

1.75

In [2]:
7//4

1

In [3]:
1-0.9

0.09999999999999998

In [4]:
boy = "i am a boy."
boy

'i am a boy.'

In [12]:
girl = "i am a girl"
girl

'i am a girl'

In [17]:
boy + ' ' + girl

"i'm a girl i am a girl"

In [15]:
boy + girl

"i'm a girli am a girl"

In [21]:
### lab 1
#### 수익 계산

In [24]:
revenue=98456
cost=45000
profit=recenue-cost
print(profit)=

SyntaxError: invalid syntax (<ipython-input-24-6986839cc970>, line 4)

In [25]:
### lab1
#### 문자열 다루기
a="i love python"
b="you hate python"

In [35]:
# 문자열 인덱싱
a="life is short. you need python"

('l', 'f', 'i')

In [42]:
# 문자열 슬라이싱 = a는 포함이고, b는 포함되지 않음.
a="life is short. you need python"
a[0:15]

'life is short. '

In [51]:
a = "20180328sunny"
year=a[0:4]
month=a[4:6]
day=a[6:8]
print(year, month, day)

2018 03 28

In [53]:
print(year,'년', month,'월', day,'일')

2018 년 03 월 28 일

In [60]:
print('(yyyy)년 (mm)월 (dd)일') . format('month'=month, 'day'=day, 'year'=year)

SyntaxError: keyword can't be an expression (<ipython-input-60-5c42df31b8b6>, line 1)

### lab 3
#### 문자열 포매팅
- 변수 pi를 생성하고 3.141592를 할당하시오.
- 변수 sq_root를 생성하고 1.4129를 할당하시오.

In [62]:
"pi is {pi}, and square root of 2 is {sq_root}. format(pi=pi, sq_root=sqare root)"

'pi is {pi}, and square root of 2 is {sq_root}. format(pi=pi, sq_root=sqare root)'

문자열 내장함수

In [63]:
a="나는 나다."
a.count("나")

2

In [65]:
#문자 개수 세기 - 첫번 째 단어의 위치만 찾음.
a="hobby"
a.find("b")

2

In [66]:
a="enjoy"
a.index("e")

0

In [67]:
# 문자열 삽입하기
a=","
a.join("abcd")

'a,b,c,d'

In [69]:
a="."
a.join("금은동")

'금.은.동'

In [70]:
a=" hola"
a.lstrip()

'hola'

In [71]:
a=" hola "
a.rstrip()

' hola'

In [74]:
a="life is too short."
a.split()

['life', 'is', 'too', 'short.']

In [78]:
a='life is'
a.split()

['life', 'is']

## lab 2. 이어서
- 변수 a를 생성하여, 문자열 "i love python"
- 변수 b를 생성하여, 문자열 "you hate python"

- a에서 첫번째 o의 위치를 find함수로 찾아보시오.
- b에서 첫번째 o의 위치를 index함수로 찾아보시오
- a의 o 문자 개수를 세시오.

In [83]:
a="i love pyhyon."
b="you hate python."

a.find('o'), b.index('o'), a.count('o')

(3, 1, 2)

- 변수 a를 모두 대문자로 바꿔보시오.
- 변수 b를 모두 소문자로 바꿔보시오.

- 변수 a,b에 a의 첫 7글자들로 이루어진 부분 문자들을 할당하시오.
- 변수 a의 문자열을 공백을 이용해서 나눠보시오.

In [84]:
a="i love pyhyon."
b="you hate python."

a.upper(), b.lower()

('I LOVE PYHYON.', 'you hate python.')

In [85]:
a="i love python."
a.split()

['i', 'love', 'python.']