# 점프투파이썬 2장 이어서
## 3절 리스트

In [1]:
print("안녕하세요")

안녕하세요

In [2]:
print(1,2,3)

1 2 3

### 리스트 만들기

In [5]:
# 빈 리스트
a=[]
a

[]

In [7]:
b=[1,2,3]
b

[1, 2, 3]

In [9]:
c=["life", "is", "too", "short"]
c

['life', 'is', 'too', 'short']

In [11]:
d=[1,2,"life","is"]
d

[1, 2, 'life', 'is']

In [12]:
e=[1,2,["life","is"]]
e

[1, 2, ['life', 'is']]

### 리스트의 인덱싱

In [13]:
[0,5] #공간 상 첫째부터 다섯번째까지

[0, 5]

In [15]:
a=[1,2,3]
a

[1, 2, 3]

In [18]:
a[1]

2

In [19]:
a[-1]

3

In [22]:
a[-3]

1

In [23]:
e

[1, 2, ['life', 'is']]

In [24]:
e[2][0]

'life'

### 리스트의 슬라이싱

In [26]:
a=[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [28]:
b=a[0:2]
b

[1, 2]

In [31]:
b=a[:2]
b

[1, 2]

### 리스트의 연산자

In [33]:
print(a,b)

[1, 2, 3, 4, 5] [1, 2]

In [36]:
c=a+b
c

[1, 2, 3, 4, 5, 1, 2]

In [37]:
c*2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

### 리스트의 수정, 변경, 삭제

In [46]:
# 하나의 값 수정하기
a=[1,2,3]
a

[1, 2, 3]

In [47]:
a[2]=4
a

[1, 2, 4]

In [48]:
# 연속된 범위 값 수정 : 슬라이싱 해서 잡아야 함.
a[2:3]

[4]

In [49]:
a[2:3]=['a','b','c']
a

[1, 2, 'a', 'b', 'c']

In [50]:
# 중첩하여 수정
a[2]=['a','b','c']
a

[1, 2, ['a', 'b', 'c'], 'b', 'c']

In [60]:
# 리스트 요소 삭제
a=[1, 2, ['a', 'b', 'c'], 'b', 'c']
del a[2]
a

[1, 2, 'b', 'c']

In [57]:
a=[1,2,3,4]
del a[1:3]
a

[1, 4]

## 리스트 함수

In [61]:
# 리스트에 요소 추가
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [66]:
#리스트 정렬
a=[1,3,4,5,6,2]
a.sort()
a

[1, 2, 3, 4, 5, 6]

In [67]:
# 리스트 뒤집기
a=[1,3,4,2,5,7]
a.reverse()
a

[7, 5, 2, 4, 3, 1]

In [70]:
# 위치 반환
a=[1,2,3]
a.index(2)
# 2의 위치는 첫 번째

1

In [71]:
# 리스트에 요소 삽입
a=[1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [72]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [73]:
# 리스트 요소 제거
a=[1,2,3,4,1,2,3,4]
a.remove(3)
a

[1, 2, 4, 1, 2, 3, 4]

In [74]:
# 리스트 요소 꺼내기
a=[1,2,3]
a.pop()

3

In [75]:
a

[1, 2]

In [77]:
# 요소 개수 세기
a=[1,2,3,1]
a.count(1)

2

In [79]:
# 리스트 확장 append는 하나밖에 확장 못 하는데, extend는 여러 개 확장 가능
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [80]:
a.append([4,5])
a

[1, 2, 3, 4, 5, [4, 5]]

## 튜플

In [82]:
# 만드는 방법(), 값 수정이나 변경 불가능
t1=()
t2=(1,)
t3=(1,2,3)
t4=('a','b')
print(t1,t2,t3,t4)

() (1,) (1, 2, 3) ('a', 'b')

In [83]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

### 딕셔너리

In [86]:
# 1:1 형태의 집합을 만드는 것 key:value
dic={'name':'박민진','phone':'01011112222'}

In [85]:
print(dic)

{'name': '박민진', 'phone': '01011112222'}

In [87]:
dic['name']

'박민진'

In [88]:
dic['phone']

'01011112222'

In [93]:
dic={'name':'박민진','name':'alswls'}
dic['name']

'alswls'

In [94]:
# 값 ?
dic.values()

dict_values(['alswls'])

### 불 자료형(bool)

In [95]:
# T / F
# True / False
3 > 1

True

In [96]:
1<0

False

In [98]:
if [1,2]:
    print("참")
else:
    print("거짓")

참

## 3장 제어문
### 1.if문

In [99]:
money = 1
if money:
    print("택시 타자")
else:
    print("걸어 가자")

택시 타자

In [ ]:
# 기본 구조
if 조건문:
    수행 문장1
    수행 문장2
else:
    수행 문장A
    수행 문장B
# Tab 1번 또는 spacebar 4번

In [102]:
money = 2000
if money >= 3000:
    print("택시를 타라.")
else:
    print("걸어 가라.")

걸어 가라.

In [104]:
money = 2000
card =1
if money >=3000 or card:
    print("택시를 타라.")
else:
    print("걸어 가라.")

택시를 타라.

In [105]:
pocket=['paper','handphone','card']
if 'money' in pocket:
    print("택시를 타라.")
else:
    if card:
        print("택시를 타라.")
    else:
        print("걸어가라")

택시를 타라.

In [108]:
pocket=['paper','handphone','card']
if 'money' in pocket:
    print("택시를 타라.")
elif 'card' in pocket:
    print("택시를 타라.")
else:
    print("걸어가라")

택시를 타라.

In [ ]:
# 구문
if <조건문>:
    수행문장1
    수행문장2
elif <조건문>1:
    수행문장1
elif <조건문>:
    수행문장1
else:
    수행문장