# 2018년 3월 28일 점프투파이썬 2장
# 테스트

## - 숫자형
#### 1. 기능1
#### 2. 기능2
## - 문자열
## - 리스트

In [3]:
print("3번째 수업")

3번째 수업

In [4]:
123

123

In [5]:
456

456

In [6]:
1+2

3

In [1]:
7/4

1.75

In [8]:
-7/4

-1.75

In [2]:
7//4

1

In [9]:
7%4

3

In [3]:
1-0.9

0.09999999999999998

## lab1

## 수익계산

In [10]:
revenue = 98456
cost = 45000
profit = revenue - cost
print(profit)

53456

## 2절 문자열

In [4]:
boy = "i am a boy."
boy

'i am a boy.'

In [12]:
girl = "i am a girl"
girl

'i am a girl'

In [12]:
friend = """
i am a boy
i am a girl
"""

In [17]:
boy + ' ' + girl

"i'm a girl i am a girl"

In [14]:
boy = "i am a boy."
boy * 3

'i am a boy.i am a boy.i am a boy.'

In [15]:
boy + girl

"i'm a girli am a girl"

In [15]:
# 문자열 인덱싱
a = "life is too short, you have python"
a[0] + a[10] + a[30]

'lot'

In [16]:
# 문자열 슬라이싱 
a[12:17]

'short'

## lab2. 
#### 문자열 다루기

In [18]:
a="i love python"
b="you hate python"

In [42]:
# 문자열 슬라이싱 = a는 포함이고, b는 포함되지 않음.
a="life is short. you need python"
a[0:15]

'life is short. '

In [19]:
a = "20180328sunny"
year=a[0:4]
month=a[4:6]
day=a[6:8]
weather=a[8:]
print(year, month, day, weather)

2018 03 28 sunny

In [20]:
"year년 month월 day날 날씨는 weather 입니다"

'year년 month월 day날 날씨는 weather 입니다'

In [53]:
print(year,'년', month,'월', day,'일')

2018 년 03 월 28 일

In [22]:
"(year)년 (month)월 (day)일 날씨는 (weather) 입니다." .format(year=year, month=month, day=day, weather=weather)

'(year)년 (month)월 (day)일 날씨는 (weather) 입니다.'

## 문자열 내장함수

In [23]:
# 문자 개수 세기
a = "나는 나다."
a.count('나')

2

In [25]:

# 위치 알려주기
a = "hobby"
a.find('b')

2

In [65]:
#문자 개수 세기 - 첫번 째 단어의 위치만 찾음.
a="hobby"
a.find("b")

2

In [66]:
a="enjoy"
a.index("e")

0

In [26]:
# 문자열 삽입하기
a=","
a.join("abcd")

'a,b,c,d'

In [69]:
a="."
a.join("금은동")

'금.은.동'

In [70]:
a=" hola"
a.lstrip()

'hola'

In [71]:
a=" hola "
a.rstrip()

' hola'

In [74]:
a="life is too short."
a.split()

['life', 'is', 'too', 'short.']

In [78]:
a='life is'
a.split()

['life', 'is']

In [62]:
"pi is {pi}, and square root of 2 is {sq_root}. format(pi=pi, sq_root=sqare root)"

'pi is {pi}, and square root of 2 is {sq_root}. format(pi=pi, sq_root=sqare root)'

## lab 2. 이어서
- 변수 a를 생성하여, 문자열 "i love python"
- 변수 b를 생성하여, 문자열 "you hate python"

- a에서 첫번째 o의 위치를 find함수로 찾아보시오.
- b에서 첫번째 o의 위치를 index함수로 찾아보시오
- a의 o 문자 개수를 세시오.

In [83]:
a="i love pyhyon."
b="you hate python."

a.find('o'), b.index('o'), a.count('o')

(3, 1, 2)

- 변수 a를 모두 대문자로 바꿔보시오.
- 변수 b를 모두 소문자로 바꿔보시오.

- 변수 a,b에 a의 첫 7글자들로 이루어진 부분 문자들을 할당하시오.
- 변수 a의 문자열을 공백을 이용해서 나눠보시오.

In [29]:
a="i love pyhyon."
b="you hate python."

a.upper(), b.lower(),

('I LOVE PYHYON.', 'you hate python.')

In [85]:
a="i love python."
a.split()

['i', 'love', 'python.']

## lab3.문자열 포매팅

In [34]:
pi = 3.141532
sq_root = 1.41429

In [35]:
"pi is {pi}, and square root of 2 is {sq_root}" .format(pi=pi, sq_root=sq_root)

'pi is 3.141532, and square root of 2 is 1.41429'